%section
  %h2 Isian
  %table.table
    %tr
      %th No
      %th Statement
      %th Jawaban
      %th Edit
      %th Delete

    - @short_problems.each do |sp|
      %tr
        %td= sp.problem_no
        %td.text-justify= sp.statement
        %td= sp.answer
        %td= link_to 'Edit', [:edit, @contest, sp]
        %td= link_to 'Hapus', [@contest, sp], method: :delete,
          data: { confirm: 'Apakah Anda yakin?' }

%section
  %h3 Buat soal
  = form_for [@contest, @contest.short_problems.build],
    html: { class: 'form-horizontal' } do |f|
    .form-group
      = f.label :problem_no, class: 'col-sm-2'
      .col-sm-4
        = f.text_field :problem_no, class: 'form-control', autocomplete: 'off'
    .form-group
      = f.label :statement, class: 'col-sm-2'
      .col-sm-10
        = find_and_preserve do
          = f.text_area :statement, class: 'form-control'
    .form-group
      = f.label :answer, class: 'col-sm-2'
      .col-sm-4
        = f.text_field :answer, class: 'form-control', autocomplete: 'off'
    .form-group
      .col-sm-offset-2.col-sm-4
        = f.submit 'Buat soal', class: 'btn btn-default has-shade'
