<div class="container">
  <h1>Buat isian</h1>
  <%= form_for([@contest, @short_problem]) do |f| %>
    <p>
    <%= f.label :problem_no %><br>
    <%= f.text_field :problem_no, class: 'form-control' %>
    </p>
    <p>
    <%= f.label :statement %><br>
    <%= f.text_area :statement, class: 'form-control' %>
    </p>
    <p>
    <%= f.label :answer %><br>
    <%= f.text_field :answer, class: 'form-control' %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</div>
