Ini admin page kyaaa
<%= link_to "Back", contest_path(:id => @contest.id) %>
<section>
Isian
<table style="width=100%">
	<tr>
		<td>No</td>
		<td>Statement</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
	<% @short_problems.each do |short_problem| %>
		<tr>
			<td><%= short_problem.problem_no %></td>
			<td><%= short_problem.statement %></td>
			<td><%= link_to "Edit", [:edit, @contest, short_problem] %></td>
			<td><%= link_to "Hapus", [@contest, short_problem], 
				method: :delete, data: { confirm: 'Apakah Anda yakin?' } %></td>
		</tr>
	<% end %>
</table>
</section>
<section>
Buat isian
<%= form_for([@contest, @contest.short_problems.build]) do |f| %>
  <p>
    <%= f.label :problem_no %><br>
    <%= f.text_field :problem_no %>
  </p>
  <p>
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </p>
  <p>
    <%= f.label :answer %><br>
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</section>

<section>
Esai
<table style="width=100%">
  <tr>
    <td>No</td>
    <td>Statement</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <% @long_problems.each do |long_problem| %>
    <tr>
      <td><%= long_problem.problem_no %></td>
      <td><%= long_problem.statement %></td>
      <td><%= link_to "Edit", [:edit, @contest, long_problem] %></td>
      <td><%= link_to "Hapus", [@contest, long_problem], 
        method: :delete, data: { confirm: 'Apakah Anda yakin?' } %></td>
    </tr>
  <% end %>
</table>
</section>
<section>
Buat isian
<%= form_for([@contest, @contest.long_problems.build]) do |f| %>
  <p>
    <%= f.label :problem_no %><br>
    <%= f.text_field :problem_no %>
  </p>
  <p>
    <%= f.label :statement %><br>
    <%= f.text_area :statement %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</section>
