%header#contest-info
  %h1#contest-name
  %h3#subtitle
  %h3.update-regularly#time-remaining
  - if @contest.currently_in_contest?
    #contest-buttons
      = link_to 'Download soal', @contest.problem_pdf.url(:original, false),
        class: 'btn btn-lg'
      = link_to 'Lihat ulang aturan', contest_rules_path(@contest),
        class: 'btn btn-lg'

  %div
    - if can? :summary, @contest
      = link_to 'Ringkasan', contest_summary_path(contest_id: @contest),
        class: 'btn btn-lg'

    - if can? :admin, @contest
      = link_to 'Administrasi', admin_contest_path(contest_id: @contest),
        class: 'btn btn-lg'

    - if can? :assign_markers, @contest
      = link_to 'Bagi koreksian', assign_markers_path(id: @contest.id),
        class: 'btn btn-lg'
