<article id="bagian-b">
  <header>
    <h2>Bagian B: Uraian</h2>
    <h4 class="text-justify">Setiap soal bernilai 7 poin. Tidak ada
      pengurangan untuk jawaban yang salah ataupun kosong. Solusi boleh
      Anda ketik, scan, ataupun foto. Unggah solusi Anda dengan form di
      bawah ini.</h4>
  </header>
  <% @long_submissions.each do |ls| %>
    <p><%= ls.long_problem.problem_no %></p>
    <p><%= ls.long_problem.statement %></p>
    <p>
      <%= nested_form_for ls, url: submit_long_submission_path(ls),
        html: { multipart: true },
        method: :post do |f| %>
        <%= f.fields_for :submission_pages do |page_form| %>
          <div class="row">
              <%= page_form.text_field :page_number %>
              <%= page_form.file_field :submission %>
              <%= link_to "Lihat file", page_form.object.submission.url(:original, false) %>
              <%= page_form.link_to_remove do %>
                <b class="glyphicon glyphicon-trash"></b>
              <% end %>
          </div>
        <% end %>
        <%= f.link_to_add 'Tambah halaman', :submission_pages %>
        <%= hidden_field_tag 'contest_id', @contest.id  %>
        <%= f.submit "Jawab", class: "btn btn-default has-shade" %>
      <% end %>
    </p>
  <% end %>
</article>
