<article id="bagian-b">
  <header>
    <h2>Bagian B: Uraian</h2>
    <h4 class="text-justify">Setiap soal bernilai 7 poin. Tidak ada
      pengurangan untuk jawaban yang salah ataupun kosong. Solusi boleh
      Anda ketik, scan, ataupun foto. Unggah solusi Anda dengan form di
      bawah ini.</h4>
  </header>
  <% @long_problems.each do |prob| %>
    <div class="problem-statement text-justify">
      <%= prob.problem_no %>. <%= markdown_render(prob.statement) %>
    </div>
    <% ls = LongSubmission.find_by(user: current_user, long_problem: prob) %>
    <%= nested_form_for ls, url: submit_long_submission_path(ls),
      html: { multipart: true }, method: :post do |f| %>
      <%= hidden_field_tag 'contest_id', @contest.id  %>
      <%= f.fields_for :submission_pages do |page_form| %>
        <%= page_form.text_field :page_number,
          class: "form-control answer-input", placeholder: "No. halaman" %>
        <%= link_to "Lihat file", page_form.object.submission.url(
          :original, false) %>
        <%= page_form.link_to_remove do %>
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <% end %>
        <%= page_form.file_field :submission %>
      <% end %>
      <%= f.link_to_add 'Tambah halaman', :submission_pages %>
      <%= f.submit "Jawab", class: "btn btn-default has-shade" %>
    <% end %>
  <% end %>
</article>
