%article#bagian-b
  %header
    %h2 Bagian B: Uraian
    %h4.text-justify
      Unggah solusi Anda pada formulir di bawah ini. Ukuran file keseluruhan
      per soal paling besar 10 MB. Tuliskan jawaban beserta langkah pekerjaan
      Anda secara lengkap. Jawaban boleh diketik, difoto, ataupun di-scan.
      Setiap soal bernilai maksimal 7 angka. Tidak ada pengurangan nilai untuk
      jawaban yang salah.

  - @long_problems.each do |prob|
    %h5.problem_no No. #{prob.problem_no}
    = latex_and_markdown :div, prob.statement
    - ls = long_submission_find_or_initialize_by(prob)

    - if ls.new_record?
      = nested_form_for ls,
        url: long_problem_long_submissions_path(prob, ls),
        html: { multipart: true }, method: :post do |f|
        = hidden_field_tag :user_contest_id, @user_contest.id
        = f.fields_for :submission_pages do |page_form|
          .form-group
            = page_form.text_field :page_number,
              class: 'form-control answer-input', placeholder: 'No. halaman'
            = page_form.link_to_remove do
              %span.glyphicon.glyphicon-trash{ 'aria-hidden' => 'true' }
            = page_form.file_field :submission, class: 'long-problem-file'

        = f.link_to_add 'Tambah halaman', :submission_pages,
          class: 'long-problem-file'
        = f.submit 'Jawab', class: 'btn'

    - else
      %p.text-warning.text-justify
        Anda sudah mengunggah jawaban. Jika Anda ingin mengubah jawaban Anda,
        klik 'buang' di bawah dan lakukan pengunggahan ulang.
        %div
          = link_to 'Lihat',
            long_submission_path(ls), class: 'btn'
          = link_to 'Buang',
            long_submission_path(ls), class: 'btn',
            method: :delete,
            data: { confirm: 'Anda yakin ingin membuang jawaban?' }
