%article#bagian-b
  %header
    %h2 Bagian B: Uraian
    %h4.text-justify
      Setiap soal bernilai 7 poin. Tidak ada
      pengurangan untuk jawaban yang salah ataupun kosong. Solusi boleh
      Anda ketik, scan, ataupun foto. Unggah solusi Anda dengan form di
      bawah ini. Total file yang Anda upload maksimal 10 MB per soal.

  - @long_problems.each do |prob|
    %h5.problem_no No. #{prob.problem_no}
    = latex_and_markdown :div, prob.statement
    - ls = @user_contest.long_submissions.find_by(long_problem: prob)

    - if ls.submitted?
      %p.text-warning.text-justify
        Anda sudah mengupload jawaban. Jika Anda ingin mengubah jawaban Anda,
        klik 'buang' di bawah dan upload ulang.
        %div
          = link_to 'Lihat',
            contest_long_submission_download_path(contest_id: @contest.id,
            long_submission_id: ls.id), class: 'btn btn-default has-shade'
          = link_to 'Buang',
            contest_long_submission_destroy_subs_path(contest_id: @contest.id,
            long_submission_id: ls.id),
            method: :delete, class: 'btn btn-default has-shade',
            data: { confirm: 'Anda yakin ingin membuang jawaban?' }

    - else
      = nested_form_for ls,
        url: contest_long_submission_submit_path(contest_id: @contest.id,
        long_submission_id: ls.id),
        html: { multipart: true }, method: :post do |f|
        = hidden_field_tag 'contest_id', @contest.id
        = f.fields_for :submission_pages do |page_form|
          .form-group
            = page_form.text_field :page_number,
              class: 'form-control answer-input', placeholder: 'No. halaman'
            = page_form.link_to_remove do
              %span.glyphicon.glyphicon-trash{ 'aria-hidden' => 'true' }
            = page_form.file_field :submission, class: 'long-problem-file'

        = f.link_to_add 'Tambah halaman', :submission_pages,
          class: 'long-problem-file'
        = f.submit 'Jawab', class: 'btn btn-default has-shade'
