%h2 Macam-macam
= link_to 'Bagi-bagi kubus', contest_give_points_path,
  class: 'btn' if can? :give_points, Contest

= link_to 'Download feedback', contest_download_feedback_path,
  class: 'btn' if can? :download_feedback, Contest

= link_to 'Kirim sertifikat', contest_send_certificates_path,
  class: 'btn' if can? :send_certificates, Contest

- if can? :read_problems, Contest
  %h3 Masukkan Problems
  = form_tag contest_read_problems_path, multipart: true,
    class: 'form-horizontal' do
    .form-group
      = label_tag :problem_tex, 'Soal TeX', class: 'col-sm-4'
      .col-sm-8
        = file_field_tag :problem_tex
    .form-group
      = label_tag :answers, 'Jawaban (comma separated)', class: 'col-sm-4'
      .col-sm-8
        = text_field_tag :answers, '', class: 'form-control'
    = submit_tag 'Submit', class: 'btn'
