- if can?(:read_problems, Contest) || can?(:refresh, contest) || can?(:send_certificates, contest)
  %h2 Macam-macam

- if can? :send_certificates, contest
  %h3 Sertifikat
  %p Sertifikat terkirim: #{certificate_statistics(contest)}
  = link_to 'Kirim sertifikat manual', send_certificates_contest_path(contest),
    method: :post, class: 'btn'

- if can? :read_problems, Contest
  %h3 Masukkan Problems
  = form_tag read_problems_contest_path, multipart: true,
    class: 'form-horizontal' do
    .form-group
      = label_tag :problem_tex, 'Soal TeX', class: 'col-sm-4'
      .col-sm-8
        = file_field_tag :problem_tex
    .form-group
      = label_tag :answers, 'Jawaban (comma separated)', class: 'col-sm-4'
      .col-sm-8
        = text_field_tag :answers, '', class: 'form-control'
    .form-group
      = label_tag :compile_only, 'Update file saja (tidak update sistem)',
        class: 'col-sm-4'
      .col-sm-8
        = check_box_tag :compile_only
    = submit_tag 'Submit', class: 'btn'

- if can? :refresh, contest
  %h3 Refresh
  = link_to 'Refresh', refresh_contest_path(contest), method: :post,
    class: 'btn'
