%h2 Macam-macam
= link_to 'Download feedback',
  contest_feedback_answers_path(contest_id: @contest.id),
  class: 'btn' if can? :download_on_contest, FeedbackAnswer
= link_to 'Download soal',
  @contest.problem_pdf.url(:original, false),
  class: 'btn btn-lg' if can? :download_pdf, @contest
= link_to 'Download Marking Scheme',
  @contest.marking_scheme.url(:original, false),
  class: 'btn btn-lg' if can? :download_marking_scheme, @contest
= link_to 'Download laporan',
  reports_contest_path(@contest),
  class: 'btn btn-lg' if can? :download_reports, @contest

- if can? :read_problems, Contest
  %h3 Masukkan Problems
  = form_tag read_problems_contest_path, multipart: true,
    class: 'form-horizontal' do
    .form-group
      = label_tag :problem_tex, 'Soal TeX', class: 'col-sm-4'
      .col-sm-8
        = file_field_tag :problem_tex
    .form-group
      = label_tag :answers, 'Jawaban (comma separated)', class: 'col-sm-4'
      .col-sm-8
        = text_field_tag :answers, '', class: 'form-control'
    = submit_tag 'Submit', class: 'btn'
