<article id="indiv-result">
  <h2>Hasil dan Umpan Balik</h2>

  <% s_prob = ShortProblem.where(contest: @contest) %>
  <% unless s_prob.empty? %>
    <h3>Bagian A: 10/<%= s_prob.length %> poin</h3>
  <% end %>

  <% l_prob = LongProblem.where(contest: @contest) %>
  <% unless l_prob.empty? %>
    <h3>Bagian B</h3>
    <% l_prob.each do |prob| %>

      <%= l_submission = LongSubmission.find_by(
        long_problem: l_prob, user: @curent_user) %>
      <h4>No. <%= prob.problem_no %>:
        <%= l_submission.score %>/7 poin</h4>
      <div class="row">

        <div class="col-sm-6">
          <h5>Soal</h5>
          <%= prob.statement %>
        </div>

        <div class="col-sm-6">
          <h5>Umpan Balik</h5>
          <%= l_submission.feedback %>
        </div>

      </div>
    <% end %>
  <% end %>
  <h3>Total: 30/42 poin</h3>
  <h3>Anda mendapatkan penghargaan perunggu!</h3>
  <p>Jika Anda masih ada masalah silakan buka o.o</p>
</article>
