.heading-with-btn
  %h2 Hasil dan Umpan Balik
  .btn#show-own-results Tampilkan

#own-results
  - unless @short_problems.empty?
    %h3 Bagian A: #{@user_contest.short_mark}/#{@short_problems.length} poin
    - @short_problems.each do |prob|
      - ss = @short_submissions.find { |s| s.short_problem_id == prob.id }

      %h4 No. #{prob.problem_no}
      .row
        .col-sm-8
          %h5 Soal
          = latex_and_markdown :div, prob.statement
        .col-sm-2
          %h5 Kunci Jawaban
          %span{ class: status(ss, prob) }= ss ? prob.answer : 'Anda tidak menjawab soal ini.'
        .col-sm-2
          %h5 Jawaban Anda
          %span{ class: status(ss, prob) }= ss && ss.answer

  - unless @long_problems.empty?
    %h3 Bagian B
    - @long_problems.each do |prob|
      - ls = @long_submissions.find { |l| l.long_problem_id == prob.id }

      %h4 No. #{prob.problem_no}: #{score_out_of_total prob}
      .row
        .col-sm-7
          %h5 Soal
          = latex_and_markdown :div, prob.statement
        .col-sm-5
          %h5 Umpan Balik
          = latex_and_markdown :div, ls&.feedback

  %h3 Total: #{@user_contest.total_mark}/#{@contest.max_score} poin
  = show_award
  %p
    Jika menurut Anda terdapat masalah dengan penilaian di kontes ini,
    seperti ada berkas Anda yang tidak dinilai atau menurut Anda nilainya
    kurang tepat, Anda bisa #{link_to 'mengontak kami.', contact_path}
