<article id="all-result">
  <h2>Leaderboard</h2>
  <div class="table-responsive">
    <table class="table table-hover table-bordered has-shade">
      <thead>
        <tr>
          <th>Peringkat</th>
          <th>Username</th>
          <% if @short_problems.length > 0 %>
            <th>Bagian A</th>
          <% end %>
          <% @long_problems.each do |lp| %>
            <th>Bagian B no. <%= lp.problem_no %></th>
          <% end %>
          <th>Total</th>
          <th>Penghargaan</th>
        </tr>
      </thead>
      <tbody>
        <% @user_contests.each do |uc| %>
          <% user = uc.user %>
          <tr class="clickable-row" data-link="<%= user_path user %>">
            <td><%= uc.rank %></td>
            <td><%= user.username %></td>
            <% if @short_problems.length > 0 %>
              <td><%= uc.short_marks %></td>
            <% end %>
            <% @long_problems.each do |lp| %>
              <td><%= show_long_mark(LongSubmission.find_by(user: user, long_problem: lp)) %></td>
            <% end %>
            <td><%= uc.total_score %></td>
            <td><%= uc.award %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>
