%article#bagian-a
  %header
    %h2 Bagian A: Isian Singkat
    %h4.text-justify
      Anda boleh terus mengisi jawaban sebelum kontes berakhir; jawaban yang
      dikoreksi adalah jawaban yang Anda isi terakhir. Jika Anda berniat untuk
      mengganti jawaban, silakan menuliskan jawaban tersebut dengan cara yang
      sama.  Setiap soal bernilai 1 angka. Tidak ada pengurangan nilai untuk
      jawaban yang salah atau dikosongkan. Jawaban soal-soal bagian A
      dipastikan merupakan bilangan bulat.

  = form_for :short_submission,
    url: contest_short_submissions_path(Contest.find(params[:id])) do |f|
    - short_problems.each do |prob|
      %h5.problem_no No. #{prob.problem_no}
      = latex_and_markdown :div, prob.statement
      - submission = short_submissions.find { |ss| ss.short_problem == prob }
      - prev_answer = submission.nil? ? '' : submission.answer
      .form-group
        = f.text_field prob.id, class: 'form-control answer-input',
          placeholder: prev_answer, autocomplete: 'off'
    = f.submit 'Jawab', class: 'btn'
