.heading-with-btn
  %h2 Soal-soal
  .btn#show-all-problems Tampilkan

#all-problems
  - unless @short_problems.empty? || @long_problems.empty?
    %h4= link_if_exists(@contest.forum_link, 'Bagian A: Isian')
  - @short_problems.each do |prob|
    %h5.problem_no No. #{prob.problem_no}
    = latex_and_markdown :div, prob.statement

  - unless @short_problems.empty? || @long_problems.empty?
    %h4 Bagian B: Esai
  - @long_problems.each do |prob|
    %h5.problem_no= link_if_exists(prob.forum_link, "No. #{prob.problem_no}")
    = latex_and_markdown :div, prob.statement
