<div class="container">
  <h1>Admin: <%= @contest.name %></h1>
  <%= link_to "Kembali", contest_path(id: @contest.id) %>

  <%= link_to 'Bagi koreksian', assign_markers_path(id: @contest.id),
    class: 'btn btn-default has-shade'%>

  <% if can? :manage, Contest %>
    <%= render 'edit' %>
  <% end %>

  <% if can? :manage, ShortProblem %>
    <%= render 'manage_short_problems' %>
  <% end %>

  <% if can? :manage, LongProblem %>
    <%= render 'manage_long_problems' %>
  <% end %>

  <% if can? :manage, Contest %>
    <%= render 'finalize' %>
  <% end %>
</div>
