.container
  %h1 Admin: #{@contest.name}
  = link_to 'Kembali', contest_path(id: @contest.id), class: 'btn'

  = render 'edit' if can? :edit, Contest
  = render 'misc'
  = render 'short_problems/manage' if can? :manage, ShortProblem
  = render 'long_problems/manage' if can? :manage, LongProblem
  = render 'feedback_questions/manage' if can? :manage, FeedbackQuestion
