%article#all-result
  .table-responsive
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Peringkat
          %th Username
          - unless @no_short_probs
            %th Bagian A
          - @long_problems.each do |lp|
            %th Bagian B no. #{lp.problem_no}
          %th Total
          %th Penghargaan

      %tbody
        - @user_contests.each do |uc|
          - user = uc.user
          %tr{ class: row_classes(user, [uc.award.downcase]) }
            %td= uc.rank
            %td= user.username
            - unless @no_short_probs
              %td= uc.short_mark
            - @long_problems.each do |lp|
              %td= score(uc, lp)
            %td= uc.total_mark
            %td= uc.award
