.container
  %h1 Feedback untuk #{@contest}

  = link_to 'Kembali', @contest, class: 'btn'

  %p Perhatikan bahwa untuk mendapatkan sertifikat, Anda perlu:
  %ul
    %li mendapatkan minimal nilai #{UserContest::CUTOFF_CERTIFICATE} di kontes
    %li menjawab semua pertanyaan feedback di bawah ini
  %p= certificate_criteria_unfulfilled_message
  %p
    Feedback ini akan dikirim secara anonim. Dengan kata lain, kami tidak akan
    mengetahui siapa yang mengisi jawaban yang Anda berikan.

  = form_for :feedback_answer, url: contest_feedback_path do |f|
    - @feedback_questions.each do |q|
      - fba_object = FeedbackAnswer.find_by feedback_question: q,
        user_contest: @user_contest
      - answer = fba_object && fba_object.answer
      %p.feedback-label= q
      = find_and_preserve do
        = f.text_area q.id, class: 'form-control feedback-input',
          placeholder: answer

    = f.submit 'Kirim', class: 'btn'
