This all contest available

<table style="width:100%">
	<tr>
		<td>Name</td>
		<td>Isian</td>
		<td>Esai</td>	
		<td>Start</td>
		<td>End</td>
		<td>Edit</td>
		<td>Hapus</td>
	</tr>
	<% @contests.each do |contest| %>
	<tr>
		<td><%= link_to contest.name, contest_path(contest) %></td>
		<td><%= contest.number_of_short_questions %></td>
		<td><%= contest.number_of_long_questions %></td>	
		<td><%= contest.start_time %></td>
		<td><%= contest.end_time %></td>
		<td><%= link_to "Edit", edit_contest_path(contest) %></td>
		<td><%= link_to "Hapus", contest_path(contest), method: :delete, data: { confirm: 'Apakah Anda yakin?' } %></td>
	</tr>
	<% end %>
</table>