<div class="container-fluid" id="all-contests-container">
  <header>
    <h1>Kontes-kontes</h1>
    <h4>Catatan: tanggal kontes-kontes berikutnya masih bisa berubah kapanpun.
    </h4>
  </header>
  <% @contests.each do |contest| %>
    <article class="contest">
      <h2><%= contest.name %></h2>
      <p><%= contest.start_time %> sampai <%= contest.end_time %></p>
      <p>Rincian: <%= contest.number_of_short_questions %> soal isian dan
      <%= contest.number_of_long_questions %> soal uraian</p>
    </article>
  <% end %>
  </table>
</div>


