.container#all-contests-container
  %header
    %h1 Kontes-kontes
    %h4 Catatan: tanggal kontes-kontes berikutnya masih bisa berubah kapanpun.

  = paginate @contests, 'offset'
  - @contests.each do |c|
    %a.contest-index-details{ href: contest_path(c) }
      %h3= c.name
      %h5 #{c.start_time.to_indo} sampai #{c.end_time.to_indo}
      %div
        Banyak soal: #{c.short_problems_count || 0} isian dan
        #{c.long_problems_count || 0} uraian (nilai maksimal:
        #{c.max_score})
      %div Cutoff: #{c.bronze_cutoff}/#{c.silver_cutoff}/#{c.gold_cutoff}
      - if c.result_released || can?(:preview, c)
        %div Jumlah peserta: #{c.user_contests_count || 0} peserta
