<%= content_tag 'div', '', id: 'contest-data', data: {
  name: @contest.name,
  start_time: @contest.start_time,
  end_time: @contest.end_time,
  result_time: @contest.result_time,
  feedback_time: @contest.feedback_time,
  result_released: @contest.result_released,
} %>

<div class="container">
  <div class="row">
    <section>
      <%= render 'header' %>

      <% if current_user.has_role? :admin and Time.zone.now < @contest.start_time %>
        <%= render 'admin_preview' %>
      <% end %>

      <% if @contest.currently_in_contest? %>
        <% if @short_problems.length != 0 %>
          <%= render 'short_problems' %>
        <% end %>
        <% if @long_problems.length != 0 %>
          <%= render 'long_problems' %>
        <% end %>
      <% end %>

      <% if @contest.result_released %>
        <% unless @user_contest.nil? %>
          <%= render 'own_results' %>

          <% if Time.zone.now <= @contest.feedback_time %>
            <%= render 'feedback' %>
          <% end %>
        <% end %>

        <%= render 'results' %>
      <% end %>
    </section>

    <% if @contest.currently_in_contest? %>
      <%= render 'contest_aside_info' %>
    <% end %>
  </div>
</div>
