<%= content_tag 'div', '', id: 'rules-contest-data', data: {
contest: @contest,
} %>
<div class="container-fluid">
  <h1>Petunjuk Kontes</h1>

  <% renderer = Redcarpet::Render::HTML.new(escape_html: true) %>
  <% markdown = Redcarpet::Markdown.new(renderer) %>
  <%= markdown.render(@contest.rule).html_safe %>

  <%= form_for @user_contest, url: accept_rules_contests_path do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :contest_id, value: @contest.id %>
    <div class="btn-center-container">
      <%= f.button "Saya sudah membaca dan menyetujui",
        class: "btn btn-default has-shade", id: 'rules-agree-btn' %>
    </div>
  <% end %>
</div>
