<%= content_tag 'div', '', id: 'contest-data',
  data: { current_contest: @contest } %>
<div class="container-fluid">

  <div class="row">
    <section class="col-sm-8">
      <header id="contest-info">
        <h1 id="contest-name"></h1> 
        <h3 id="contest-time"></h3>
        <h3 class="update-regularly" id="contest-time-remaining"></h3>
        <button class="btn btn-default btn-lg has-shade">
          <%= link_to "Download soal", @contest.problem_pdf.url(:original, false) %>
        </button>
      </header>
      <article id="bagian-a">
        <header>
          <h2>Bagian A: Isian Singkat</h2>
          <h4 class="text-justify">Jawaban setiap soal dipastikan berupa
            bilangan bulat. Setiap soal bernilai 1 poin. Tidak ada
            pengurangan untuk jawaban yang salah. Anda boleh terus mengisi
            jawaban sebelum kontes berakhir; jawaban yang dikoreksi adalah
            jawaban yang Anda kumpulkan terakhir. Kosongkan jawaban
            yang tidak ingin Anda ganti.</h4>
        </header>
        <%= form_for :short_answer, url: '/short_problems/submit/' do |f| %>
          <% @short_problems.each do |prob| %>
            <p class="isian">
              <label for="isian-<%= prob.problem_no %>" class="text-justify">
                <%= prob.problem_no %>. <%= prob.statement %>
              </label>
              <% submission = ShortSubmission.where(
                short_problem_id: prob.id, user_id: current_user.id)[0] %>
              <% prev_answer = (submission == nil) ? "" : submission.answer %>
              <%= f.text_field prob.id, class: "form-control", 
                id: "isian-" + prob.problem_no.to_s,
                placeholder: prev_answer.to_s %>
            </p>
          <% end %>
          <%= hidden_field_tag 'contest_id', @contest.id  %>
          <%= f.submit "Jawab", class: "btn btn-default has-shade" %>
        <% end %>
      </article>
      <article id="bagian-b">
        <header>
          <h2>Bagian B: Uraian</h2>
          <h4 class="text-justify">Bagian B</h4>
        </header>
        <% @long_problems.each do |prob|%>
          <%= prob.statement %>
          <%= nested_form_for prob, url: 'long_problems/submit' do |f| %>
            <%= f.fields_for :long_submissions do |page_form| %>
              <%= page_form.text_field :page %>
              <%= page_form.file_field :submission %>
              <%= page_form.link_to_remove do%>
                <b class="glyphicon glyphicon-trash"></b>
              <% end %>
            <% end %>
            <%= f.link_to_add 'Tambah halaman', :long_submissions %>
            <%= hidden_field_tag 'contest_id', @contest.id  %>
            <%= f.submit "Jawab", class: "btn btn-default has-shade" %>
          <% end %>
        <% end %>
      </article>
    </section>
    <aside class="col-sm-4"> 
      <header>
        <h3>Ringkasan Jawaban Anda</h3>
      </header>
      <article>
        <header>
          <h4>Bagian A</h4>
        </header>
        <% @short_problems.each do |prob| %>
          <% submission = ShortSubmission.where(
            short_problem_id: prob.id, user_id: current_user.id)[0] %>
          <% prev_answer = (submission == nil) ? "belum terjawab" :
            submission.answer %>
          <div <%= (submission == nil) ? 'class=text-danger' : '' %>>
            No. <%= prob.problem_no %>: <%= prev_answer %>
        </div>
      <% end %>
      </article>
      <article>
        <header>
          <h4>Bagian B</h4>
        </header>
    </aside>
  </div>
  <%= link_to "MANAGE?", contest_admin_path(:id => @contest.id) %>
</div>
