<%= content_tag 'div', '', id: 'contest-data',
  data: { current_contest: @contest } %>

<div class="container-fluid">
  <div class="row">
    <section>

      <%= render 'header' %>

      <% if currently_in_contest %>
        <%= render 'short_problems' %>
        <%= render 'long_problems' %>
      <% end %>

      <% if Time.zone.now >= @contest.result_time %>
        <% uc = UserContest.find_by(user: @current_user, contest: @contest) %>

        <% unless uc.nil? %>
          <%= render 'own_results' %>

          <% if now <= @contest.feedback_time %>
            <article id="feedback">
              <p>Sekarang giliran Anda kasih kesan pesan ke kami!</p>
              <a href="#" class="btn btn-lg btn-default has-shade">
                Isi Feedback</a>
            </article>
          <% end %>
        <% end %>

        <article id="all-result">
          <h2>Leaderboard</h2>
          <div class="table-responsive">
            <table class="table table-hover table-bordered"> <thead> <tr> <th>Peringkat</th> <th>Username</th> <th>Bagian A</th> <th>Bagian B no. 1</th> <th>Bagian B no. 2</th> <th>Bagian B no. 3</th> <th>Bagian B no. 4</th> <th>Total</th> <th>Penghargaan</th> </tr> </thead> <tbody> <tr> <td>1</td> <td>asdf</td> <td>2</td> <td>3</td> <td>7</td> <td>7</td> <td>0</td> <td>19</td> <td>Emas</td> </tr> <tr> <td>2</td> <td>asdf</td> <td>2</td> <td>3</td> <td>7</td> <td>7</td> <td>0</td> <td>19</td> <td>Emas</td> </tr> <tr> <td>3</td> <td>asdf</td> <td>2</td> <td>3</td> <td>7</td> <td>7</td> <td>0</td> <td>19</td> <td>Emas</td> </tr> <tr> <td>4</td> <td>asdf</td> <td>2</td> <td>3</td> <td>7</td> <td>7</td> <td>0</td> <td>19</td> <td>Emas</td> </tr> <tr> <td>5</td> <td>asdf</td> <td>2</td> <td>3</td> <td>7</td> <td>7</td> <td>0</td> <td>19</td> <td>Emas</td> </tr> </tbody> </table>
          </div>
        </article>
      <% end %>
    </section>

    <% if currently_in_contest %>
      <%= render 'contest_aside_info' %>
    <% end %>
  </div>
</div>
