<%= content_tag 'div', '', id: 'contest-data', data: {
  name: @contest.name,
  start_time: @contest.start_time,
  end_time: @contest.end_time,
  result_time: @contest.result_time,
  feedback_time: @contest.feedback_time,
  result_released: @contest.result_released,
} %>

<div class="container">
  <div class="row">
    <section>

      <%= render 'header' %>

      <% if @contest.currently_in_contest? %>
        <% if @short_problems.length != 0 %>
          <%= render 'short_problems' %>
        <% end %>
        <% if @long_problems.length != 0 %>
          <%= render 'long_problems' %>
        <% end %>
      <% end %>

      <% if @contest.result_released %>
        <% uc = UserContest.find_by(user: @current_user, contest: @contest) %>

        <% unless uc.nil? %>
          <%= render 'own_results' %>

          <% if now <= @contest.feedback_time %>
            <article id="feedback">
              <p>Sekarang giliran Anda kasih kesan pesan ke kami!</p>
              <a href="#" class="btn btn-lg btn-default has-shade">
                Isi Feedback</a>
            </article>
          <% end %>
        <% end %>

        <% if @contest.result_released %>
          <%= render 'results' %>
        <% end %>
      <% end %>
    </section>

    <% if @contest.currently_in_contest? %>
      <%= render 'contest_aside_info' %>
    <% end %>
  </div>
</div>
