= content_tag 'div', '', id: 'contest-data',
  data: { name: @contest.name,
  start_time: @contest.start_time,
  end_time: @user_contest&.end_time || @contest.end_time,
  result_time: @contest.result_time,
  feedback_time: @contest.feedback_time,
  result_released: @contest.result_released,
  book_promo: @contest.book_promo || '' }

.container
  .row
    %section
      = render 'header'
      - if can?(:contest_about, @contest)
        = render 'contest_about'

      - if can?(:preview, @contest) && !@contest.started?
        %h2 == HANYA PANITIA ==
        = render 'show_problems'

      - if @user_contest&.currently_in_contest?
        = render 'short_problems' unless @short_problems.empty?
        = render 'long_problems' unless @long_problems.empty?

      - if @contest.result_released
        - if @user_contest.nil?
          = render 'show_problems'
        - else
          = render 'own_results'
          = render 'feedback' unless @contest.feedback_closed?
        = render 'results'
      - elsif @contest.ended?
        = render 'show_problems'
        - if @contest.ended? && can?(:preview, @contest)
          %h2 == HANYA PANITIA ==
          = render 'all_results'

    = render 'contest_aside_info' if @user_contest&.currently_in_contest?
