.container
  %h1 Ringkasan
  %p Banyak peserta: #{@count}

  %h2 Isian
  %table.table.table-condensed.table-striped.table-responsive
    %thead
      %tr
        %th No.
        %th Soal
        %th Jawaban
        %th # Benar
        %th % Benar
        %th Jawaban terbanyak
        %th # Jawaban
        %th % Jawaban

    %tbody
      - @short_problems.each do |sp|
        - most = sp.most_answer
        %tr
          %td= sp.problem_no
          %td.text-justify.latex= markdown_render sp.statement
          %td= sp.answer
          %td= sp.correct
          %td= percentage average sp.correct
          %td= most.map(&:answer)
          %td= most.empty? ? 0 : most[0].count
          %td= percentage average(most.empty? ? 0 : most[0].count)

  %h2 Uraian
  %table.table.table-condensed.table-striped.table-responsive
    %thead
      %tr
        %th No.
        %th Soal
        %th -
        - (LongProblem::MAX_MARK + 1).times do |i|
          %th= i
        %th Rata-rata

    %tbody
      - @long_problems.each do |lp|
        - ls = lp.long_submissions
        %tr
          %td= lp.problem_no
          %td.text-justify.latex= markdown_render lp.statement
          %td= ls.where(score: nil).count
          - (LongProblem::MAX_MARK + 1).times do |i|
            %td= ls.where(score: i).count
          %td= ls.sum(:score) / lp.long_submissions.where.not(score: nil).count
