<div class="container">
  <h1>Edit item</h1>

  <%= form_for :market_item, url: market_item_path(@market_item), method: :patch do |f| %>

    Nama: <br>
    <%= f.text_field :name %><br>
    Deskripsi: <br>
    <%= f.text_field :description %><br>
    Gmabar: <br>
    <%= f.file_field :picture %><br>
    Harga (poin): <br>
    <%= f.text_field :price %><br>
    Stok: <br>
    <%= f.text_field :quantity %><br>
    <%= f.submit %>
  <% end %>
</div>
