.row#forgot
  .col-xs-10.col-sm-8.col-md-6.sign-grid
    = render 'users/sign_header', title: 'Masuk', subtitle: 'Belum punya akun?',
      link: 'Daftar.', anchor: '#register'

    Masukkan username atau email Anda di sini. Kami akan mencoba untuk
    me-reset password Anda.
    = form_tag forgot_path do
      .form-group.has-feedback
        = text_field_tag :username, params[:username], class: 'form-control',
          placeholder: 'Username', autofocus: true
      .form-group.has-feedback
        = text_field_tag :email, params[:email], class: 'form-control',
          placeholder: 'Email'

      %footer
        .left-footer
          %a.move-form{ href: '#login' }Kembali
        = submit_tag 'Kirim', class: 'btn btn-lg btn-default has-shade sign-btn'
