<%= link_to "Ganti Password", change_password_path,
  class: 'btn btn-default has-shade', type: 'button' %>
<%= form_for :user, url: mini_update_path(@user), do |f| %>
  <p>
  <label for="user_timezone">Zona waktu:</label>
  <%= f.text_field :timezone, class: "form-control" %>
  </p>

  <p>
  <label for="user_color">Warna:</label>
  <%= f.collection_select :color_id, Color.all(), :id, :name,
    { prompt: "Color" }, class: "form-control" %>
  </p>
  <%= f.submit "Ganti", class: "btn btn-default has-shade" %>
<% end %>
<p>Untuk mengganti data pribadi Anda,
  <%= link_to "kontak kami", contact_path %>.</p>
