= link_to 'Ganti Password', change_password_user_path(@user),
  class: 'btn', type: 'button'
= link_to 'Ganti Notifikasi', user_notifications_path,
  class: 'btn', type: 'button'
= form_for :user, url: mini_update_user_path(@user) do |f|
  %p
    %label{ for: 'user_timezone' } Zona waktu:
    %select.form-control#user_timezone{ name: 'user[timezone]' }
      - User.time_zone_set.each do |tz|
        %option{ value: tz, selected: (tz == @user.timezone) }= tz

  %p
    %label{ for: 'user_color' } Warna:
    = f.collection_select :color_id, Color.all, :id, :name,
      { prompt: 'Warna' }, class: 'form-control'

  = f.submit 'Ganti', class: 'btn'

%p Untuk mengganti data pribadi Anda, #{link_to 'kontak kami', contact_path}.
