<div class="container-fluid" id="register-container">
  <div class="row">
    <div class="col-xs-10 col-sm-8 col-md-6" id="register">
      <header>
        <div class="login-logo">
          <%= link_to image_tag("logo.png", :alt => "Logo KTOM",
                                :height => "70px"), root_path %>
      </div>
      <div class="login-text">
        <div class="h1">Daftar</div>
        <div>Sudah punya akun?
          <a class="move-form" href="#login">Masuk.</a></div>
      </div>
      <div class="clearfix"></div>
      </header>
      <%= form_for :user, url: users_path,
        html: { :id => "register-form" } do |f| %>

        <div class="form-group has-feedback" aria-describedby="user-help">
          <%= f.text_field :username, class: "form-control",
            placeholder: "Username" %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
          <div id="user-help" class="help-block pre-help">Username Anda
            harus terdiri atas huruf dan angka saja dan memiliki
            6 - 20 karakter.</div>
        </div>
        <div class="form-group has-feedback">
          <%= f.email_field :email, class: "form-control",
            placeholder: "Alamat email" %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback" aria-describedby="pass-help">
          <%= f.password_field :password, class: "form-control",
            placeholder: "Password" %>
          <span class="glyphicon form-glyphicon form-control-feedback glyphicon form-glyphicon-eye-open"
                aria-hidden="true"></span>
          <%= render 'users/password_help' %>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password_confirmation, class: "form-control",
            placeholder: "Ulangi password" %>
          <span class="glyphicon form-glyphicon form-control-feedback glyphicon form-glyphicon-eye-open"
                aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.text_field :fullname, class: "form-control",
            placeholder: "Nama lengkap" %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.collection_select :province_id, Province.all(),
            :id, :name, { prompt: "Provinsi" }, { class: "form-control" } %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.collection_select :status_id, Status.all(),
            :id, :name, { prompt: "Status" }, { class: "form-control" } %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.text_field :school, class: "form-control",
            placeholder: "Sekolah/institusi" %>
          <span class="glyphicon form-glyphicon form-control-feedback"
                aria-hidden="true"></span>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :osn %>
            Centang bila Anda sudah pernah mendapatkan medali di OSN SMA
            (tingkat nasional).
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :terms_of_service %>
            Saya menyetujui syarat dan ketentuan website ini.
          </label>
        </div>
        <footer>
          <%= recaptcha_tags hl: 'id' %>
          <%= f.submit "Daftar", class: "btn btn-lg btn-default
          btn-register has-shade" %>
      </footer>
    <% end %>
    </div>
  </div>
</div>
