%h2 Info
%p= "Nama lengkap: #{@user.fullname}" if can? :show_full, @user
%p= "Email: #{@user.email}" if can? :show_full, @user
%p Provinsi: #{@user.province}
%p Status: #{@user.status}
%p Sekolah/institusi: #{@user.school}
- if can? :edit, @user
  = link_to('Edit Profil', edit_user_path, class: 'btn', type: 'button')
  = link_to('Edit Notifikasi', user_user_notifications_path(@user), class: 'btn', type: 'button')

- if can? :show_full, @user
  %p #{@user.point} #{point_image}
  /= link_to 'Pasar', market_items_path, class: 'btn'
