%h2 Info
%p= "Nama lengkap: #{@user.fullname}" if can? :show_full, @user
%p= "Email: #{@user.email}" if can? :show_full, @user
%p Provinsi: #{@user.province}
%p Status: #{@user.status}
%p Sekolah/institusi: #{@user.school}
- if can? :edit, @user
  = link_to('Edit Profil', edit_user_path, class: 'btn', type: 'button')
  = link_to('Edit Notifikasi', user_user_notifications_path(@user), class: 'btn', type: 'button')

- if can? :show_full, @user
  %p #{@user.point} #{point_image}

-if can? :edit, @user.about_user
  %h2 About Me
  -if @user.about_user.nil?
    %p Buat sekarang!
    = form_for [@user, @user.build_about_user], url: user_about_user_path(@user) do |f|
      = render partial: 'about_users/form', locals: { f: f }
      = f.submit 'Buat', class: 'btn'
  - else
    =image_tag @user.about_user.image.url(:small)
    %p= "Nama: #{@user.about_user.name}"
    %p Deskripsi:
    %p= @user.about_user.description
    %p= @user.about_user.is_alumni ? "Alumni: ya" : "Alumni: tidak"
    = link_to('Edit About Me', edit_user_about_user_path(@user), class: 'btn', type: 'button')
