%h2 Info
- if can? :mini_edit, @user
  %p Nama lengkap: #{@user.fullname}
  %p Email: #{@user.email}
%p Provinsi: #{@user.province}
%p Status: #{@user.status}
%p Sekolah/institusi: #{@user.school}
- if can? :edit, @user
  = link_to 'Edit Profil', edit_user_path, class: 'btn btn-default has-shade',
    type: 'button'
- elsif can? :mini_edit, @user
  = render 'mini_edit'

- if can? :mini_edit, @user
  %p Poin: #{@user.point}
  /= link_to 'Pasar', market_items_path, class: 'btn btn-default has-shade'
