.container
  %h1 Ganti Password
  #pass-help.help-block.pre-help
    Password Anda harus berisi setidaknya 6
    karakter.<br> Contoh mudah membuat password yang kuat:
    %ul
      %li Pikirkan dua makanan kesukaan Anda, contohnya nasi goreng dan rendang
      %li Pikirkan dua warna kesukaan Anda, contohnya putih mawar dan hijau tua
      %li Pikirkan angka kesukaan Anda, contohnya 477
      %li Gabungkan: NasiGorengPutihMawar&amp;RendangHijauTua477
    Password ini lebih aman dan lebih mudah diingat daripada password
    yang menggunakan banyak angka dan simbol namun lebih pendek!

  = form_tag user_update_password_path(@user), class: 'form-inline' do
    = password_field nil, :old_password, class: "form-control",
      placeholder: "Password lama"
    = password_field nil, :new_password, class: "form-control",
      placeholder: "Password baru"
    = password_field nil, :confirm_new_password, class: "form-control",
      placeholder: "Ulangi password baru"
    = submit_tag "Ganti", class: "btn btn-default has-shade"
