<div class="container">
  <h1>Ganti Password</h1>
    <div id="pass-help" class="help-block pre-help">Password Anda harus
      berisi setidaknya 6 karakter.<br>
      Contoh mudah membuat password yang kuat:
      <ul>
        <li>Pikirkan dua makanan kesukaan Anda, contohnya nasi goreng dan
          rendang</li>
        <li>Pikirkan dua warna kesukaan Anda, contohnya putih mawar dan
          hijau tua</li>
        <li>Pikirkan angka kesukaan Anda, contohnya 477</li>
        <li>Gabungkan: NasiGorengPutihMawar&amp;RendangHijauTua477</li>
      </ul>
      Password ini lebih aman dan lebih mudah diingat daripada password
      yang menggunakan banyak angka dan simbol namun lebih pendek!
    </div>
    <%= form_for :user, url: update_password_path(@user) do |f| %>
      <%= f.text_field :old_password, class: "form-control",
        placeholder: "Password lama" %>
      <%= f.text_field :new_password, class: "form-control",
        placeholder: "Password baru" %>
      <%= f.text_field :confirm_new_password, class: "form-control",
        placeholder: "Ulangi password baru" %>
      <%= f.submit "Ganti", class: "btn btn-default has-shade" %>
    <% end %>
</div>
