.container
  %h1 Ganti Password
  = render 'password_help'
  = form_tag user_change_password_path(@user), class: 'form-inline',
    id: 'change-password' do
    = password_field nil, :old_password, class: 'form-control',
      placeholder: 'Password lama'
    = password_field nil, :new_password, class: 'form-control',
      placeholder: 'Password baru'
    = password_field nil, :confirm_new_password, class: 'form-control',
      placeholder: 'Ulangi password baru'
    = submit_tag 'Ganti', class: 'btn'
  #change-password-errors
