.container
  %h1 Daftar User
  - if can? :see_full_index, User
    = toggle_disable
  .row
    .col-sm-3.form-group.has-feedback#users-search
      = text_field_tag 'search', params[:search], class: 'form-control'
      %span.glyphicon.glyphicon-search.form-control-feedback{ 'aria-hidden' => true }
    .col-sm-9
      = paginate @users
  %table.table.table-condensed.table-responsive.small-table
    %tr
      %th Username
      %th= 'Email' if can? :see_full_index, User
      %th= 'Nama Lengkap' if can? :see_full_index, User
      %th Provinsi
      %th Status
      %th Sekolah/Institusi
      %th= 'Kubus' if can? :see_full_index, User

    - @users.each do |u|
      %tr{ data: { link: user_path(u) }, class: row_classes(u, %w(users-index-row clickable-row)) }
        %td= u.username
        %td= u.email if can? :see_full_index, User
        %td= u.fullname if can? :see_full_index, User
        %td= u.province
        %td= u.status
        %td= u.school
        %td= u.point if can? :see_full_index, User
