<div class="container">
  <h1>Daftar User</h1>
  <table class="table table-responsive">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Nama lengkap</th>
      <th>Provinsi</th>
      <th>Status</th>
      <th>Sekolah/Institusi</th>
      <th>Poin</th>
      <th>Warna</th>
      <th>Edit</th>
      <th>Hapus</th>
      <th>Timestamp</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.fullname %></td>
        <td><%= user.province.name if user.province %></td>
        <td><%= user.status.name if user.status %></td>
        <td><%= user.school %></td>
        <td><%= user.point %></td>
        <td><%= user.color.name if user.color %></td>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
        <td><%= link_to "Hapus", user_path(user), method: :delete, data: { confirm: 'Apakah Anda yakin?' } %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </table>
</div>
