.container
  %h1 Daftar User
  %div
    - if can? :see_full_index, User
      = toggle_disable
  = paginate @users
  %table.table.table-condensed.table-responsive.small-table
    %tr
      %th Username
      %th= 'Email' if can? :see_full_index, User
      %th= 'Nama Lengkap' if can? :see_full_index, User
      %th Provinsi
      %th Status
      %th Sekolah/Institusi
      %th= 'Poin' if can? :see_full_index, User

    - @users.each do |u|
      %tr.users-index-row.clickable-row{ data: { link: user_path(u), enabled: u.verification.nil?.to_s } }
        %td= u.username
        %td= u.email if can? :see_full_index, User
        %td= u.fullname if can? :see_full_index, User
        %td= u.province
        %td= u.status
        %td= u.school
        %td= u.point if can? :see_full_index, User
