<div class="container" id="register">
  <h1>Daftar</h1>
  <%= form_for :user, url: users_path do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %> prohibited
          this user from being registered:
        </h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    Username:
    <%= f.text_field :username %><br>
    Email:
    <%= f.text_field :email %><br>
    Password:
    <%= f.password_field :password %><br>	
    Ulang password:
    <%= f.password_field :password_confirmation %><br>
    Nama lengkap:
    <%= f.text_field :fullname %><br>
    Provinsi:
    <%= f.text_field :province %><br>
    Status:
    <%= f.text_field :status %><br>
    Sekolah/Institusi:
    <%= f.text_field :school %><br>
    <%= f.submit %>
  <% end %>
  <a href="#login">Masuk</a>
</div>

<div class="container" id="login">
  <h1> Masuk </h1>
  <%= form_for :session, url: login_path do |s| %>
    Username:
    <%= s.text_field :username %><br>
    Password:
    <%= s.password_field :password %><br>
    <%= s.submit %>
  <% end %>
  <a href="#register">Daftar</a>
</div>
