- content_for :page_attributes do
  nav-logo-only

.container
  %h1 Reset Password
  = render 'password_help'
  = form_tag reset_password_users_path, class: 'form-inline',
    id: 'reset-password' do
    = password_field nil, :new_password, class: 'form-control',
      placeholder: 'Password baru'
    = password_field nil, :confirm_new_password, class: 'form-control',
      placeholder: 'Ulangi password baru'
    = submit_tag 'Ganti', class: 'btn'
  #reset-password-errors
