<div class="container-fluid">
  <h1><%= current_user.username %></h1>
  <div class="row">
    <div class="col-sm-4" id="profile">
      <%= image_tag("/profile_pictures/#{@user.id}/#{@user.profile_picture.instance.profile_picture_file_name}", :alt => "Profil #{@user.username}", :height => "200px") %>
      <p>Nama lengkap: <%= @user.fullname %></p>
      <p>Email: <%= @user.email %></p>
      <p>Provinsi: <%= @user.province.name %> </p>
      <p>Status: <%= @user.status.name %></p>
      <p>Sekolah/Institusi: <%= @user.school %></p>
      <%= link_to "Edit Profil", edit_user_path,
        :class => "btn btn-default has-shade", :type => "button" %>
      <p>Poin: 21/81</p>
      <a class="btn btn-default has-shade" type="button" id="profile-to-market">
        Pasar
      </a>
    </div>
    <div class="col-sm-8" id="transactions">
      <h2>Riwayat Kontes</h2>
      <div class="table-responsive">
        <table class="table table-hover has-shade table-bordered" id="contest-history"> <thead> <tr> <th>Kontes</th> <th>Peringkat</th> <th>Banyak Peserta</th> <th>Penghargaan</th> <th>Total Skor</th> </tr> </thead> <tbody> <tr> <td>Kontes Mei 2016</td> <td>17</td> <td>30</td> <td>Perunggu</td> <td>7/42</td> </tr> <tr> <td>Kontes April 2016</td> <td>21</td> <td>40</td> <td>Perak</td> <td>23/42</td> </tr> <tr> <td>Kontes Mei 2016</td> <td>17</td> <td>30</td> <td>Perunggu</td> <td>7/42</td> </tr> <tr> <td>Kontes April 2016</td> <td>21</td> <td>40</td> <td>Perak</td> <td>23/42</td> </tr> </tbody> </table>
      </div>
      <nav>
        <a href="#" id="prev-history">&lt;&lt;</a>
        <span id="this-page">1</span>
        <a href="#" id="next-history">&gt;&gt;</a>
      </nav>
      <h2>Riwayat Transaksi Poin</h2>
      <div class="table-responsive">
        <table class="table table-hover has-shade table-bordered" id="point-history"> <thead> <tr> <th>Waktu</th> <th>Poin</th> <th>Keterangan</th> </tr> </thead> <tbody> <tr> <td>12345</td> <td>+17</td> <td>Menang Kontes</td> </tr> <tr> <td>12345</td> <td>+17</td> <td>Menang Kontes</td> </tr> <tr> <td>12345</td> <td>+17</td> <td>Menang Kontes</td> </tr> <tr> <td>12345</td> <td>-70</td> <td>Beli Kaos Olimpiade.org</td> </tbody> </table>
      </div>
      <nav>
        <a href="#" id="prev-history">&lt;&lt;</a>
        <span id="this-page">1</span>
        <a href="#" id="next-history">&gt;&gt;</a>
      </nav>
    </div>
  </div>
</div>
