.container
  %h1 Ganti feedback
  = form_for [@contest, @feedback_question],
    html: { class: 'form-horizontal' } do |f|
    .form-group
      = f.label :question, class: 'col-sm-2'
      .col-sm-10
        = find_and_preserve do
          = f.text_area :question, class: 'form-control'
    .form-group
      .col-sm-offset-2.col-sm-4
        = f.submit 'Ganti feedback qn', class: 'btn'
