<% if @current_user.nil? %>
  <% content_for :page_attributes do %>nav-logo-only<% end %>
<% end %>
<div class="container-fluid">
  <h1>Tentang Kami</h1>
  <p>Kontes Terbuka Olimpiade Matematika adalah sebuah inisiatif yang dilaksanakan Tim Olimpiade Matematika Indonesia, perkumpulan pemenang olimpiade matematika nasional (OSN) dan internasional (IMO). Kontes bulanan ini diadakan secara online dan gratis bagi semua orang. Selain itu, kontes ini berisi soal-soal berkualitas yang sangat cocok untuk persiapan OSN tingkat kabupaten, provinsi, maupun nasional.</p>
  <h2>Tim Kami</h2>
  <div class="row" id="daftar-panitia">
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Ricky The Ising</h3>
        <%= image_tag 'panitia/ricky.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Bivan Alzacky Harmanto</h3>
        <%= image_tag 'panitia/bivan.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Ricky The Ising</h3>
        <%= image_tag 'panitia/ricky.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Bivan Alzacky Harmanto</h3>
        <%= image_tag 'panitia/bivan.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Bivan Alzacky Harmanto</h3>
        <%= image_tag 'panitia/bivan.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
    <div>
      <div class="col-md-4 col-sm-6 about-us-person">
        <h3>Bivan Alzacky Harmanto</h3>
        <%= image_tag 'panitia/bivan.jpg' %>
      </div>
      <div class="col-md-8 col-sm-6 about-us-description">
        Sudah ganteng, keren pula, MMR bisa 7000 coba, waw 
      </div>
    </div>
  </div>
</div>
