- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

= content_tag 'div', '', id: 'about-us-pics', data: @photo_dictionary

.container
  %h1 Tentang Kami
  %p
    Kontes Terbuka Olimpiade Matematika adalah sebuah inisiatif yang
    dilaksanakan Tim Olimpiade Matematika Indonesia, perkumpulan
    pemenang olimpiade matematika nasional (OSN) dan internasional
    (IMO). Kontes bulanan ini diadakan secara online dan gratis bagi
    semua orang. Selain itu, kontes ini berisi soal-soal berkualitas
    yang sangat cocok untuk persiapan OSN tingkat kabupaten, provinsi,
    maupun nasional.

  %h2 Tim Kami
  .row
    - endFlag = true
    - @team.each_with_index do |data, index|
      - base_class = "about-us-person col-md-4 col-sm-6"
      %div{:class => "#{base_class}", :data => {:name => "#{data.name}", :description => "#{data.description}"}}
        =image_tag data.image.url(:small)
        %h3= data.name
      - if index % 2 == 1 && index % 3 == 2
        %div{:class => "clearfix visible-xs visible-sm visible-md visible-lg"}
        endFlag = false
      - elsif index % 2 == 1 && index % 3 != 2
        %div{:class => "clearfix visible-xs visible-sm"}
      - elsif index % 2 != 1 && index % 3 == 2
        %div{:class => "clearfix visible-xs visible-md visible-lg"}
      - else
        %div{:class => "clearfix visible-xs"}
      %div{:class => "about-us-description"}
    - if endFlag
      %div{:class => "clearfix visible-xs visible-sm visible-md visible-lg"}
      %div{:class => "about-us-description"} 
  
  %h2 Alumni Tim Kami
  .row
    - endFlag = true
    - @alumni.each_with_index do |data, index|
      - base_class = "about-us-person col-md-4 col-sm-8"
      %div{:class => "#{base_class}", :data => {:name => "#{data.name}", :description => "#{data.description}"}}
        =image_tag data.image.url(:small)
        %h3= data.name
      - if index % 2 == 1 && index % 3 == 2
        %div{:class => "clearfix visible-xs visible-sm visible-md visible-lg"}
        endFlag = false
      - elsif index % 2 == 1 && index % 3 != 2
        %div{:class => "clearfix visible-xs visible-sm"}
      - elsif index % 2 != 1 && index % 3 == 2
        %div{:class => "clearfix visible-xs visible-md visible-lg"}
      - else
        %div{:class => "clearfix visible-xs"}
      %div{:class => "about-us-description"}
    - if endFlag
      %div{:class => "clearfix visible-xs visible-sm visible-md visible-lg"}
      %div{:class => "about-us-description"} 