.container
  %h1 Halaman Admin
  - if can? :create, Contest
    = link_to 'Kontes Baru', new_contest_path, class: 'btn'

  - if can? :manage, Role
    = link_to 'Manage Roles', roles_path, class: 'btn'

  - if can? :new, LongSubmission
    = link_to 'New LongSubmission', new_long_submission_path, class: 'btn'

  - if can? :reset, Referrer
    = link_to 'Remove "Lainnya" Referrers', reset_referrers_path, class: 'btn',
      method: :delete

  - if can? :masq, Application
    = form_tag masq_path, html: { class: 'form-horizontal' } do
      .form-group
        .col-sm-4
          = text_field_tag 'username', nil, class: 'form-control'
        .col-sm-2
          = submit_tag 'Masq', class: 'btn'
  .clearfix

  - unless @long_problems.empty?
    %h2 Koreksian
    %ul
      - @long_problems.each do |lp|
        %li= list_of_problems(lp)

  - if current_user.has_role? :panitia
    %h2 Fitur Panitia
    %ul
      %li Melihat page ini
      %li Bisa koreksi
      %li Submisi akan dibuang setelah suatu kontes selesai
      %li Preview soal dan hasil kontes
      %li Melihat ringkasan kontes
      %li
        Melihat semua data (yang relevan) di user. Tolong jangan diabuse, ini
        diberikan supaya bisa bantu monitor.
      %li Delete user yang belum teraktivasi
      %li Melihat performa website dengan data di atas kiri

    %h2 Daftar Panitia
    %table.table.table-condensed.table-hover
      %thead
        = create_data_row(['Username', 'Nama Lengkap'], 'th')

      %tbody
        - @panitia.each do |p|
          = create_data_row([p.username, p.fullname], 'td',
                            class: 'clickable-row', 'data-link' => user_path(p))

  - if can? :see_referrers, Application
    %h2 Data Referrer
    %ul
    - @referrers.each do |r|
      %li Dari #{r}: #{r.count}
