.container.text-justify
  %h1 Buku Kontes Terbuka Olimpiade Matematika
  %p
    Mau belajar olimpiade matematika tapi ga tau mau mulai dari mana?
    Ayok punyai buku KTOM!

  .row#buku-buku
    %a.col-sm-4.book-col{ href: 'https://bit.ly/BukuKTOM-A', target: '_blank' }
      .book-container
        = image_tag 'buku/bukuktoma.jpg', alt: 'Buku KTOM-A',
          class: 'center-block img-buku-ktom'
        [NEW!] Buku Kawan Tanding<br>
        Olimpiade Matematika-A (KTOM-A)<br>
        Berisi Materi Olimpiade Matematika

  %p
    Buku <b>Kawan Tanding Olimpiade Matematika - A (KTOM-A)</b> adalah buku terbaru kami yang berisi materi olimpiade
    matematika, disesuaikan untuk pemula yang ingin belajar menghadapi
    olimpiade matematika tingkat kabupaten dan provinsi.
  %p
    Anda juga masih dapat membeli buku kami sebelumnya yang berisi kumpulan
    soal dan solusi KTO Matematika yang telah berlalu.

  .row#buku-buku
    %a.col-sm-4.book-col{ href: 'https://bit.ly/BukuKTOM4'}
      .book-container
        = image_tag 'buku/buku4.jpg', alt: 'Buku KTOM 4',
          class: 'center-block img-buku-ktom'
        Buku KTO Matematika 4<br>
        Soal dan Solusi Januari - Desember 2020
    %a.col-sm-4.book-col{ href: 'https://bit.ly/BukuKTOM4'}
      .book-container
        = image_tag 'buku/buku3.jpg', alt: 'Buku KTOM 3',
          class: 'center-block img-buku-ktom'
        Buku KTO Matematika 3<br>
        Soal dan Solusi Juli - Desember 2016
        [STOK HABIS]
    %a.col-sm-4.book-col{ href: 'https://bit.ly/BukuKTOM2', target: '_blank' }
      .book-container
        = image_tag 'buku/buku2.png', alt: 'Buku KTOM 2',
          class: 'img-responsive center-block img-buku-ktom'
        Buku KTO Matematika 2<br>
        Soal dan Solusi Januari - Juni 2016<br>
        Beserta Soal dan Solusi OSK, OSP, dan OSN SMA 2016<br>
        [STOK HABIS]
    %a.col-sm-4.book-col
      .book-container
        = image_tag 'buku/buku1.png', alt: 'Buku KTOM 1',
          class: 'center-block img-buku-ktom'
        Buku KTO Matematika 1<br>
        Soal dan Solusi Juni - Desember 2015<br>
        [STOK HABIS]

  %p
    Beberapa fitur yang menarik dari buku-buku kami:
  %ul
    %li Berisi berbagai tips dan trik memecahkan masalah olimpiade matematika
    %li
      Berisi berbagai komentar mengenai soal dan solusi, termasuk referensi
      lanjutan untuk mempelajari konsep-konsep secara lebih dalam
    %li
      Dibuat oleh Tim KTO Matematika yang berisi para pemenang olimpiade
      matematika nasional tingkat nasional maupun internasional yang sangat
      berpengalaman. Banyak dari para penulis yang pernah mendapatkan medali
      emas OSN maupun membawa nama baik Indonesia dengan memenangkan medali
      di IMO, loh!

  %p Jadi, tunggu apa lagi? Ayok beli buku kami!

  %p
    Untuk informasi lebih lanjut, Anda bisa menghubungi Instagram KTOM di
    %a{:href => 'https://instagram.com/ktom.official'} @ktom.official
    atau kanal-kanal komunikasi kami lainnya.
