<%= content_for (:page_attributes) do %>data-no-turbolink="true"<% end %>
<%= content_tag 'div', '', id: 'home-contest-data', data: {
  next: Contest.next_important_contest,
  url: url_for(Contest.next_important_contest) } %>

<!-- Facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Rest of document -->
<div class="container-fluid" id="home-container">

  <header id="greeting">
    <h1>Halo, <%= @current_user.username %></h1>
  </header>

  <section class="home-section home-article text-center" id="this-contest">
    <h2 id="next-contest-name"></h2>
    <h3 id="next-contest-time"></h3>
    <a class="btn btn-lg btn-default has-shade update-regularly"
       type="button" id="home-btn-daftar" disabled>
    </a>
  </section>

  <section class="row home-section" id="home-middle-container">
    <div class="col-md-4 col-md-push-4">
      <article class="home-article" id="info-kontes">
        <h2>Baru di kontes ini?</h2>
        <p><%= link_to 'FAQ', '/home/faq' %> kami berisi banyak informasi
        mengenai kontes ini.</p>
        <p>Soal-soal kontes sebelumnya bisa diperoleh dari
        <a href="http://olimpiade.org/discussions/main-topic/13/"
           target="_blank">link ini.</a></p>
        <p>Anda juga bisa <a href="http://bit.ly/ktom-buku-1">membeli buku
           kami</a> yang berisi kumpulan soal, solusi, maupun tips dan trik
         olimpiade matematika!</p>
         <%= image_tag("buku/buku1.png", :alt => "Buku KTOM 1",
                       :class => "img-responsive center-block",
                       :id => "img-buku-ktom") %>
    </article>
    </div>

    <div class="col-md-4 col-md-pull-4">
      <article class="home-article" id="prev-contests">
        <h2>Kontes-kontes Sebelumnya</h2>
        <% Contest.prev_contests.each do |c| %>
          <h5><%= link_to c.name, c %></h5>
        <% end %>
        <p><%= link_to "Daftar kontes", contests_path %></p>
      </article>
    </div>

    <div class="col-md-4">
      <article class="home-article" id="iklan-lomba">
        <h2>Kontes Tersponsori</h2>
        <h3>Komat UNPAR</h3>
        <a href="http://www.komatunpar.info">
          <%= image_tag("sponsor.jpg", :alt => "Komat UNPAR",
                        :class => "img-responsive center-block",
                        :id => "img-promo-kontes") %>
      </a>
      </article>
    </div>
  </section>

  <section class="row home-section" id="home-bottom-container">
    <div class="col-md-8">
      <article class="home-article" id="leaderboard">
        <h2>Leaderboard Tahun Ini</h2>
        <div class="table-responsive">
          <table class="table table-hover has-shade table-bordered" id="leaderboard-table"> <thead> <tr> <th>Peringkat</th> <th>Username</th> <th>Emas</th> <th>Perak</th> <th>Perunggu</th> <th>Poin</th> </tr> </thead> <tbody> <tr> <td>1</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>2</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>3</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>4</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>5</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>6</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>7</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>8</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>9</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> <tr> <td>10</td> <td>abcdabcdabcdabcdabcd</td> <td>3</td> <td>3</td> <td>3</td> <td>3</td> </tr> </tbody> </table>
        </div>
      </article>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <article class="home-article" id="fb-box">
        <div class="fb-page"
             data-height="500px"
             data-href="https://www.facebook.com/KTOMatematika/"
             data-tabs="timeline"
             data-adapt-container-width="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/KTOMatematika/">
              <a href="https://www.facebook.com/KTOMatematika/">
                Kontes Terbuka Olimpiade Matematika
              </a>
            </blockquote>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
