<%= content_for (:page_attributes) do %>data-no-turbolink="true"<% end %>
<%= content_tag 'div', '', id: 'home-contest-data', data: {
  name: @next_important_contest.name,
  start_time: @next_important_contest.start_time,
  end_time: @next_important_contest.end_time,
  result_time: @next_important_contest.result_time,
  feedback_time: @next_important_contest.feedback_time,
  results_released: @next_important_contest.result_released,
  url: url_for(@next_important_contest) } %>

<!-- Facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Rest of document -->
<div class="container" id="home-container">

  <header id="greeting">
    <h1>Halo, <%= current_user.username %></h1>
  </header>

  <section class="home-section text-center">
    <div class="row">
      <div class="col-md-8">
        <article class="home-article" id="this-contest">
          <h2 id="next-contest-name"></h2>
          <h3 id="next-contest-time"></h3>
          <a class="btn btn-lg update-regularly"
             type="button" id="home-btn-daftar" disabled>
          </a>
        </article>
      </div>
      <div class="col-md-4">
        <article class="home-article" id="line-box">
          Kami memiliki official account di LINE! Kami menyajikan berbagai
          konten menarik, seperti teorema-teorema yang berguna untuk olimpiade
          maupun kuis-kuis seru! Add kami di @ktom :)
          <a href="http://line.me/ti/p/%40ktom", target="_blank", id="line-btn">
            <img height="36" border="0" alt="Add Friend" src="https://biz.line.naver.jp/line_business/img/btn/addfriends_en.png">
          </a>
        </article>
      </div>
    </div>
  </section>

  <section class="row home-section" id="home-middle-container">
    <div class="col-md-4 col-md-push-4">
      <article class="home-article" id="info-kontes">
        <h2>Baru di kontes kami?</h2>
        <p><%= link_to 'FAQ', faq_path %> kami berisi banyak informasi
        mengenai kontes-kontes kami.</p>
        <p>Soal-soal kontes sebelumnya bisa diperoleh dari
        <a href="http://olimpiade.org/discussions/main-topic/13/"
           target="_blank">link ini.</a></p>
        <p>Anda juga bisa <%= link_to 'membeli buku kami', book_path %>
           yang berisi kumpulan soal, solusi, maupun tips dan trik
         olimpiade matematika!</p>
         <%= image_tag("buku/buku1.png", :alt => "Buku KTOM 1",
                       :class => "img-responsive center-block",
                       :id => "img-buku-ktom") %>
    </article>
    </div>

    <div class="col-md-4 col-md-pull-4">
      <article class="home-article" id="prev-contests">
        <h2>Kontes-kontes Sebelumnya</h2>
        <% @prev_contests.each do |c| %>
          <h5><%= link_to c.name, c %></h5>
        <% end %>
        <p><%= link_to "Daftar kontes", contests_path %></p>
      </article>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <article id="fb-box">
        <div class="fb-page"
             data-height="600px"
             data-href="https://www.facebook.com/KTOMatematika/"
             data-tabs="timeline"
             data-adapt-container-width="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/KTOMatematika/">
              <a href="https://www.facebook.com/KTOMatematika/" target="_blank">
                Kontes Terbuka Olimpiade Matematika
              </a>
            </blockquote>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
