- content_for :page_attributes do
  no-nav

= content_tag 'div', '', id: 'welcome-contest-data',
  data: { name: @next_contest.name,
  start_time: @next_contest.start_time,
  end_time: @next_contest.end_time,
  currently_in_contest: @next_contest.currently_in_contest? }

%header.teaser
  .welcome-logo
    = image_tag 'logo.png', alt: 'Logo KTOM'
  .container-fluid
    %h1 KTO Matematika
    %h2
      Sebuah kontes matematika yang dipersembahkan oleh Tim Olimpiade
      Matematika Indonesia.
    %h2 Untuk bangsa, untuk negara.
    = link_to 'Daftar', register_path, role: 'button',
      class: 'btn btn-default btn-lg text-uppercase has-shade'
    = link_to 'Masuk', login_path, role: 'button',
      class: 'btn btn-default btn-lg text-uppercase has-shade'
    %h4#welcome-next-contest

%section.main-section#features
  .container-fluid
    .row
      .col-md-2.col-xs-6
        %h3 Gratis
        .glyphicon.glyphicon-usd.has-shade{ 'aria-hidden' => 'true' }
        %p Kontes ini selamanya gratis. Tidak dipungut biaya sama sekali!
      .col-md-2.col-xs-6
        %h3 Bulanan
        .glyphicon.glyphicon-calendar.has-shade{ 'aria-hidden' => 'true' }
        %p
          Kontes ini diadakan setiap bulan. Latihan rutin adalah kunci
          kesuksesan!
      .clearfix.hidden-md.hidden-lg
      .col-md-2.col-xs-6
        %h3 Terbuka
        .glyphicon.glyphicon-user.has-shade{ 'aria-hidden' => 'true' }
        %p
          Walaupun soal-soalnya setingkat olimpiade SMA, siapa saja, dari
          bayi, murid SD, SMP, SMA, guru/dosen, sampai kakek-nenek, boleh
          ikut kontes ini!
      .col-md-2.col-xs-6
        %h3 Online
        .glyphicon.glyphicon-globe.has-shade{ 'aria-hidden' => 'true' }
        %p
          Kontes ini diadakan secara online. Soal dikirim lewat email dan
          peserta cukup mengetik, mengfoto, ataupun mengscan dan mengirim
          balik ke kami!
      .clearfix.hidden-md.hidden-lg
      .col-md-2.col-xs-6
        %h3 Berkualitas
        .glyphicon.glyphicon-ok.has-shade{ 'aria-hidden' => 'true' }
        %p
          Kontes ini diselenggarakan oleh ikatan alumni Tim Olimpiade
          Matematika Indonesia, dengan setidaknya 15 orang dari kami
          memenangkan medali emas OSN.
      .col-md-2.col-xs-6
        %h3 Membangun
        .glyphicon.glyphicon-send.has-shade{ 'aria-hidden' => 'true' }
        %p
          Peserta akan diberikan umpan balik mengenai solusi esainya oleh
          tim kami yang sangat berpengalaman, agar penulisan solusi bisa
          lebih baik lagi.

%section.main-section#testimonies
  .container-fluid
    %h1 Testimoni
    %blockquote.has-shade
      %p
        Setelah mengikuti KTO Matematika, saya merasa saya mendapatkan
        banyak pengetahuan baru dan juga cara-cara baru dalam mengerjakan
        soal. Saya juga merasa lebih berpengalaman dalam mengerjakan soal
        olimpiade.
      %footer Fadlan Fade Idham, Sulawesi Selatan, kelas 10
    %blockquote.has-shade.blockquote-reverse
      %p
        Setelah saya mengikuti KTO Matematika, saya sangat merasakan
        manfaatnya dalam kemampuan problem solving dan penulisan solusi.
      %footer Muhammad Taufiq Badruzzuhad, Jawa Tengah, kelas 12
    %blockquote.has-shade
      %p
        Setelah mengikuti kompetisi KTOM, saya jadi lebih mampu
        menuliskan solusi untuk uraian. Penjelasannya juga jadi lebih
        sistematis. Selain itu, secara tidak langsung menurut saya cara
        berpikir saya dalam mencari celah di tiap soal juga sudah berkembang.
        Pokoknya gak nyesel deh ikutin lomba ini, selain jadi latihan rutin
        tiap bulannya, kita juga bisa tahu perbandingan kemampuan kita sama
        teman-teman dari daerah lain. Join KTOM guys!!
      %footer Ananda Kevin Refaldo, Sumatera Selatan, kelas 11

%section.main-section#teaser
  .container-fluid
    %h1 Jadi, tunggu apa lagi?
    = link_to 'Daftar', register_path, role: 'button',
      class: 'btn btn-default btn-lg text-uppercase has-shade'
    = link_to 'Masuk', login_path, role: 'button',
      class: 'btn btn-default btn-lg text-uppercase has-shade'
