%p
  = f.label :name, 'Nama:'
%p
  = f.text_field :name
%p
  = f.label :description, 'Deskripsi:'
%p
  = f.text_area :description
%p 
  = f.label :is_alumni, 'Alumni?'
%p
  = f.check_box :is_alumni
%p
  = f.label :image, 'Foto'
%div
  = f.file_field :image
