.form-group
  = f.label :name, 'Nama:'
.form-group
  = f.text_field :name
.form-group
  = f.label :description, 'Deskripsi:'
.form-group
  = f.text_area :description
.form-group
  = f.label :is_alumni, 'Alumni?'
.form-group
  = f.check_box :is_alumni
.form-group
  = f.label :image, 'Foto'
.form-group
  = f.file_field :image
