= content_tag 'div', '', id: 'rules-contest-data',
  data: { name: @contest.name,
  start_time: @contest.start_time.to_indo,
  end_time: @contest.end_time.to_indo,
  result_time: @contest.result_time.to_indo,
  feedback_time: @contest.feedback_time.to_indo,
  halsoal: image_tag('1hal1soal.png', alt: 'Penjelasan 1 soal di 1 halaman',
    class: 'img-responsive').tr('"', "'") }

.container
  %h1 Petunjuk Kontes

  - if @user_contest.id.nil?
    = form_for @user_contest, url: contest_user_contests_path do |f|
      #rules-text
        = markdown_render @contest.rule
      .btn-center-container
        = f.button 'Saya sudah membaca dan menyetujui',
          class: 'btn', id: 'rules-agree-btn'
  - else
    #rules-text
      = markdown_render @contest.rule

    .btn-center-container
      = link_to 'Kembali', contest_path(@contest),
        class: 'btn', id: 'rules-agree-btn'
