.container
  %h1 Pembagian Koreksi #{@contest.name}
  - @long_problems.each do |lp|
    %h2 No. #{lp.problem_no}

    %table.table
      %thead
        %tr
          %th Username
          %th

      %tbody
        - User.with_role(:marker, lp).each do |user|
          %tr
            %td= user
            %td= link_to 'Hapus', marker_long_problem_path(lp, user_id: user),
              method: :delete

    = form_tag marker_long_problem_path(lp), method: :post,
      class: 'form-inline' do
      = select_tag 'username', panitia_options(lp), class: 'form-control'
      = submit_tag 'Tambah korektor', class: 'btn'
