<div class="container">
  <h1>Buat uraian</h1>
  <%= form_for([@contest, @long_problem]) do |f| %>
    <p>
    <%= f.label :problem_no %><br>
    <%= f.text_field :problem_no, class: 'form-control' %>
    </p>
    <p>
    <%= f.label :statement %><br>
    <%= f.text_area :statement, class: 'form-control' %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</div>
