.container
  %h1= @long_problem
  = link_to 'Download Marking Scheme',
    @contest.marking_scheme.url(:original, false),
    class: 'btn btn-default has-shade'
  = link_to 'Download semua submisi', download_submissions_path,
    class: 'btn btn-default has-shade'
  %span Download ini memakan waktu. Sabar ya. :3

  %div
    Catatan: Anda bisa menggunakan LaTeX (bungkus dengan $) dan Markdown.
    Markdown syntax bisa dilihat di <a href='https://github.com/adam-p/
    markdown-here/wiki/Markdown-Cheatsheet'>sini.</a>
  = form_tag submit_final_markings_path do
    %table.table.table-condensed.table-striped.table-responsive
      %thead
        %tr
          %th ID
          - @markers.each do |m|
            %th Nilai #{m}
            %th Tag #{m}
          %th Nilai Akhir
          %th Komentar
          %th Saran
          %th Feedback Akhir

      %tbody
        - @long_submissions.each do |s|
          %tr
            %td= s.user_contest.user_id
            - @markers.each do |m|
              %td= TemporaryMarking.find_by(long_submission: s, user: m).mark
              %td= TemporaryMarking.find_by(long_submission: s, user: m).tags
            %td= text_field_tag "marking[#{s.id}][score]",
              LongSubmission::SCORE_HASH[s.score], class: 'form-control'
            %td= text_field_tag "marking[#{s.id}][comment]", '',
              class: 'form-control'
            %td= text_field_tag "marking[#{s.id}][suggestion]", '',
              class: 'form-control'
            %td.text-justify.latex= markdown_render s.feedback.to_s

      = submit_tag 'Input nilai', class: 'btn btn-default has-shade'
