.container
  %h1= @long_problem
  = link_to 'Download Marking Scheme',
    @contest.marking_scheme.url(:original, false),
    class: 'btn'
  = link_to 'Download semua submisi', download_submissions_path,
    class: 'btn'
  %span Download ini memakan waktu. Sabar ya. :3

  = form_tag submit_temporary_markings_path, id: 'mark-solo-form' do
    %table.table.table-condensed.table-striped.table-responsive.small-table
      %thead
        = create_data_row(%w(ID Nilai Catatan) + @markers.pluck(:username),
          :td)

      %tbody
        - @long_submissions.each do |s|
          - tm = TemporaryMarking.find_by(long_submission: s,
            user: current_user)
          = create_data_row([s.user_contest.id,
                             text_field_tag("marking[#{s.id}][mark]",
                             tm.nil? ? '' : LongSubmission::SCORE_HASH[tm.mark],
                             class: 'form-control'),
                             text_field_tag("marking[#{s.id}][tags]",
                             tm.nil? ? '' : tm.tags, class: 'form-control')] + show_if_done_array(s),
                             'td')

    = submit_tag 'Input nilai', class: 'btn'

  = link_to 'Diskusi', mark_final_path(@long_problem),
    class: 'btn' if @long_problem.all_marked?
