.container
  %h1= @long_problem
  = link_to 'Download Marking Scheme',
    @contest.marking_scheme.url(:original, false),
    data: { turbolinks: false }, class: 'btn'
  = link_to 'Download semua submisi',
    submissions_long_problem_path(@long_problem),
    data: { turbolinks: false }, class: 'btn'
  %span Download ini memakan waktu. Sabar ya. :3
  = link_to 'Magic', autofill_long_problem_path(@long_problem),
    method: :patch, class: 'btn'

  %div
    Catatan: Anda bisa menggunakan LaTeX (bungkus dengan $) dan Markdown.
    Markdown syntax bisa dilihat di <a href='https://github.com/adam-p/
    markdown-here/wiki/Markdown-Cheatsheet'>sini.</a>

  = link_to 'Contoh laporan', 'https://drive.google.com/open?id=0B214Op_NeKPpazlsRTBaNTNiaVk', class: 'btn'
  = form_tag long_problem_long_submissions_path, method: :patch do
    %table.table.table-condensed.table-striped.table-responsive.small-table
      %thead
        = create_data_row(['ID'] + @markers.map { |m| ["Nilai #{m}", "Tag #{m}"] }.flatten + ['Nilai Akhir', 'Komentar', 'Saran', 'Feedback Akhir'],
          'th')

      %tbody
        - @long_submissions.each do |s|
          %tr
            %td= s.user_contest.id
            - @markers.each do |m|
              - tm = TemporaryMarking.find_by(long_submission: s, user: m)
              %td= tm && tm.mark
              %td= tm && tm.tags
            %td= text_field_tag "marking[#{s.id}][score]", '',
              placeholder: s.score_text,
              class: 'form-control'
            = find_and_preserve do
              %td= text_area_tag "marking[#{s.id}][comment]", '',
                class: 'form-control mark-text', rows: 3
            = find_and_preserve do
              %td= text_area_tag "marking[#{s.id}][suggestion]", '',
                class: 'form-control mark-text', rows: 3
            = latex_and_markdown :td, s.feedback, ['mark-text']

    = submit_tag 'Input nilai', class: 'btn', method: :patch

  %h2 Upload Laporan
  = form_for :long_problem,
    url: upload_report_long_problem_path(@long_problem) do |f|
    = f.file_field :report
    = f.submit 'Upload', class: 'btn'
