<!DOCTYPE html>
<html lang="id">
<head>
  <title>Kontes Terbuka Olimpiade Matematika</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all',
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600'
  rel='stylesheet' type='text/css'>
</head>
<body>
<% if session[:user_id] %>
	KONTES TERBUKA OLIMPIADE MATEMATIKA <br>
	<% if current_user() %>
		Halo, <%= current_user() %><br>
	<% end %>
	<table>
	<tr>
	<td>
	<%= link_to "Home" , root_path %>
	</td>
	<td>
	<% if session[:user_id] %>
		<%= link_to "Logout", logout_path %>
	<% else %>
		<%= link_to "Login", login_path %>
	<% end %>
	<% if session[:user_id] %>
		<%= link_to "Contests", contests_path %>
	<% end %>
	</td>
	</tr>
	</table>
	<hr>
<% end %>
<%= yield %>

</body>
</html>
