<!DOCTYPE html>
<html lang="id">
  <head>
    <title>Kontes Terbuka Olimpiade Matematika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all',
      'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600'
                          rel='stylesheet' type='text/css'>
    <%= favicon_link_tag %>
  </head>
  <body <%= yield(:body_attributes) %>>
    <% if @current_user %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#top-navbar"
                    aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-th-list" aria-hidden="true">
              </span>
            </button>
            <div class="navbar-brand" id="top-navbar-logo">
              <%= link_to image_tag("logo.png", :alt => "Logo KTOM",
                                    :height => "50px"), root_path %>
          </div>
          </div>

          <div class="collapse navbar-collapse" id="top-navbar"> 
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Admin", '/home/admin',
                :class => "has-shade" %></li>
              <li><%= link_to "Rumah" , root_path,
                :class => "has-shade" %></li>
              <li><%= link_to "Kontes", contests_path,
                :class => "has-shade" %></li>
              <li><a href="#" class="has-shade">Pasar</a></li>
              <li><a href="#" class="has-shade">Profil</a></li>
              <li><%= link_to "Keluar", logout_path,
                :class => "has-shade" %></li>
            </ul>
          </div>

        </div>
      </nav>

    <% end %>
    <%= yield %>

    <% if request.original_fullpath != "/sign" %>
      <footer class="app-footer">

        <div id="other-links" role="navigation">
          <ul class="list-inline">
            <li><a href="#" class="has-shade">FAQ</a></li>
            <li><a href="#" class="has-shade">Peta</a></li>
            <li><a href="#" class="has-shade">Tentang Kami</a></li>
            <li><a href="#" class="has-shade">Syarat dan Ketentuan</a></li>
            <li><a href="#" class="has-shade">Kebijakan Privasi</a></li>
            <li><a href="#" class="has-shade">Kontak Kami</a></li>
          </ul>
        </div>
        <p class="footer-text">
        &copy; Kontes Terbuka Olimpiade Matematika 2016
        </p>
        <p class="footer-text">
        Bagian dari Trio TOMI:<br>
        TOMI-Materi &mdash; Kontes Terbuka Olimpiade Matematika
        &mdash; Olimpiade.org
        </p>
      </footer>
    <% end %>
  </body>
</html>
