<!DOCTYPE html>
<html lang="id">
  <head>
    <title>Kontes Terbuka Olimpiade Matematika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
      'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600'
                          rel='stylesheet' type='text/css'>
    <meta name="google-site-verification"
          content="LhbNAf_v-2MgcX8S04Z8XyabspyseSMCvKOIliwT1aY" />
    <%= favicon_link_tag %>
  </head>
  <body <%= yield(:page_attributes) %>>
    <%= content_tag 'div', '', id: 'essential-data',
      data: {
      color: @current_user.nil? ? '' : @current_user.color,
      timezone: Time.zone.now.zone
    } %>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#top-navbar"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-th-list" aria-hidden="true">
          </span>
        </button>
        <div class="navbar-brand" id="top-navbar-logo">
          <%= link_to image_tag("logo.png", :alt => "Logo KTOM",
                                :height => "50px"), root_path %>
      </div>
      </div>

      <div class="collapse navbar-collapse" id="top-navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if @current_user and @current_user.has_any_role? :admin, :marking_manager, :marker %>
            <li><%= link_to "Admin", admin_path, :class => "has-shade" %></li>
          <% end %>
          <li><%= link_to "Magic", magic_path, :class => "has-shade" %></li>
          <li><%= link_to "Rumah", root_path, :class => "has-shade" %></li>
          <li><%= link_to "Kontes", contests_path, :class => "has-shade" %></li>
          <li><a href="#" class="has-shade">Pasar</a></li>
          <li><%= link_to "Profil", @current_user, :class => "has-shade" %></li>
          <li><%= link_to "Keluar", logout_path, :class => "has-shade" %></li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>

  <footer class="app-footer">

    <div id="other-links" role="navigation">
      <ul class="list-inline">
        <li><%= link_to 'FAQ', faq_path, class: "has-shade" %></li>
        <li><%= link_to 'Buku', book_path, class: "has-shade" %></li>
        <li><%= link_to 'Donasi', donate_path, class: "has-shade" %></li>
        <li><%= link_to 'Tentang Kami', about_path,
          class: "has-shade" %></li>
        <li><%= link_to 'Kebijakan Privasi', privacy_path,
          class: "has-shade" %></li>
        <li><%= link_to 'Syarat dan Ketentuan', terms_path,
          class: "has-shade" %></li>
        <li><%= link_to 'Kontak Kami', contact_path,
          class: "has-shade" %></li>
      </ul>
    </div>
    <p class="footer-text">
    &copy; Kontes Terbuka Olimpiade Matematika 2016
    </p>
  </footer>
  </body>
</html>
