<!DOCTYPE html>
%html{ lang: 'id' }
  %head
    %title Kontes Terbuka Olimpiade Matematika
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true,
      async: Rails.env.production?
    = csrf_meta_tags

    -# Adobe Typekit
    %script{ src: 'https://use.typekit.net/ieu7ith.js' }

    :javascript
      try{Typekit.load({async:true});}catch(e){}

    -# Google Analytics
    %script{ data: { 'turbolinks-eval' => 'false' } }
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;
      i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},
      i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];
      a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script',
      '//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-78763689-1', 'auto');

    :javascript
      ga('set', 'location', location.href.split('#')[0]);
      #{track_uid}
      ga('send', 'pageview', { "title": document.title });

    %meta{ name: 'google-site-verification', content: 'LhbNAf_v-2MgcX8S04Z8XyabspyseSMCvKOIliwT1aY' }
    %meta{ name: 'wot-verification', content: '43dc6a37c0735728700d' }

    = render 'favicon'

  - haml_tag "body #{yield :page_attributes}" do
    = console if Rails.env.development? && params[:c]
    #essential-data{ data: { color: @color, timezone: Time.zone.now.zone } }

    %nav.navbar.navbar-default.navbar-fixed-top#top-navbar-container
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#top-navbar' }, 'aria-expanded' => 'false' }
            %span.sr-only Toggle navigation
            %span.glyphicon.glyphicon-th-list{ 'aria-hidden' => 'true' }

          .navbar-brand#top-navbar-logo= link_to image_tag('logo.png',
            alt: 'Logo KTOM', height: '50px'), root_path

        .collapse.navbar-collapse#top-navbar
          %ul.nav.navbar-nav.navbar-right
            - unless masq_username.nil?
              %li= link_to 'Unmasq', masq_path, method: 'delete',
                class: 'has-shade'
            - if can? :admin, Application
              %li= link_to 'Admin', admin_path, class: 'has-shade'
            %li= link_to 'Rumah', root_path, class: 'has-shade'
            %li= link_to 'Kontes', contests_path, class: 'has-shade'
            %li= link_to 'Users', users_path, class: 'has-shade'
            /%li= link_to 'Pasar', market_items_path, class: 'has-shade'
            %li= link_to current_user, current_user, class: 'has-shade'
            %li= link_to 'Keluar', logout_path, method: :delete,
              class: 'has-shade'

    - unless flash.empty?
      #flash
        - flash.each do |_, msg|
          %p= sanitize msg
        .text-right
          %button.btn#close-flash Tutup

    = render 'referrer_nag' if current_user && current_user.referrer_id.nil?

    = yield

    %footer.app-footer
      #other-links{ role: 'navigation' }
        %ul.list-inline
          %li= link_to 'FAQ', faq_path, class: 'has-shade'
          %li= link_to 'Buku', book_path, class: 'has-shade'
          %li= link_to 'Donasi', donate_path, class: 'has-shade'
          %li= link_to 'Tentang Kami', about_path, class: 'has-shade'
          %li= link_to 'Kebijakan Privasi', privacy_path, class: 'has-shade'
          %li= link_to 'Syarat dan Ketentuan', terms_path, class: 'has-shade'
          %li= link_to 'Kontak Kami', contact_path, class: 'has-shade'
      %p.footer-text &copy; Kontes Terbuka Olimpiade Matematika 2016
